<div class="container pt-2">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="/images/me/me_speudo_formal.jpg" class="rounded">
            </div>
        </div>
        <div class="col-md-8">
            <h4>Who am I</h4>
            <p style="text-align: justify;">
                My name is Vadims Zinatulins and I'm mostly Self-taught programmer although I'm finishing my graduation in computer science (or 'Engenharia Informática' as it is called 
                natively) in Portugal. I'm currently employed at Softinsa, an IBM's group company, doing mostly web development and infrastructure
                support for Machine Learning.
            </p>
            <p style="text-align: justify;">
                I'n my free times I love to play video games, spend time with friends and specially play Basketball 
                <span class="text-muted">(which lately is somewhat impossible)</span>. I also spend a lot of time learning 
                and reasearching game development related stuff (more on game engine side).
            </p>
            <h4>Persnal Information</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-user"></i> <label><strong>Name</strong> Vadims Zinatulins</label>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-phone"></i> <label><strong>Phone</strong> +351 911 753 128</label>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-calendar-alt"></i> <label><strong>Date of birth</strong> 10-01-1995</label>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-map-marker-alt"></i> <label><strong>Place of birth</strong> Latvia</label>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-venus-mars"></i> <label><strong>Gender</strong> Male</label>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-flag"></i> <label><strong>Nationality</strong> Latvian</label>
                    </div>
                </div>
            </div>
            <br>
            <p class="text-center">{{#each this.personal.links as |link|}} <a href="{{link.link}}"><i class="{{link.icon}} fa-2x"></i></a>{{/each}}</p>
        </div>
    </div>
    <br>
    <div id="cv-accordion" class="accordion">
        <div class="card">
            <div id="work-experience-heading" class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link text-decoration-none btn-block text-left " type="button"
                        data-toggle="collapse" data-target="#collapse-work-experience" aria-expanded="true"
                        aria-controls="collapse-work-experience">
                        <i class="fas fa-briefcase"></i> Work Experience
                    </button>
                </h2>
            </div>
            <div id="collapse-work-experience" class="collapse" aria-labelledby="work-experience-heading"
                data-parent="#cv-accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each this.personal.workExperience as |experience|}}
                            <li class="list-group-item">
                                <h4><span class="font-weight-lighter">{{experience.date}}</span> {{experience.position}}
                                </h4>
                                <h6 class="text-muted">{{experience.company}}</h6>
                                <ul>
                                    {{#each experience.responsabilities as |responsability|}}
                                        <li class="font-weight-light">{{responsability}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="education-and-qualifications-heading" class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link text-decoration-none btn-block text-left" type="button"
                        data-toggle="collapse" data-target="#collapse-education-and-qualifications-heading"
                        aria-expanded="true" aria-controls="collapse-education-and-qualifications-heading">
                        <i class="fas fa-graduation-cap"></i> Education and Qualifications
                    </button>
                </h2>
            </div>
            <div id="collapse-education-and-qualifications-heading" class="collapse"
                aria-labelledby="education-and-qualifications-heading-heading" data-parent="#cv-accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each this.personal.education as |education|}}
                            <li class="list-group-item">
                                <h4><span class="font-weight-lighter">{{education.date}}</span> {{education.name}}</h4>
                                <h6 class="text-muted">{{education.place}}</h6>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="skills-heading" class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link text-decoration-none btn-block text-left" type="button"
                        data-toggle="collapse" data-target="#collapse-skills" aria-expanded="true"
                        aria-controls="collapse-skills">
                        <i class="fas fa-mouse"></i> Skills
                    </button>
                </h2>
            </div>
            <div id="collapse-skills" class="collapse" aria-labelledby="skills-heading" data-parent="#cv-accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each this.personal.skills as |skill|}}
                            <li class="list-group-item">
                                <small>{{skill.name}}</small>
                                <div class="progress" style="height: 15px;">
                                    <div class="progress-bar" role="progressbar" style={{skill.cssRate}} aria-valuenow="{{skill.rate}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="courses-heading" class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link text-decoration-none btn-block text-left" type="button"
                        data-toggle="collapse" data-target="#collapse-courses" aria-expanded="true"
                        aria-controls="collapse-courses">
                        <i class="fas fa-clipboard-list"></i> Courses
                    </button>
                </h2>
            </div>
            <div id="collapse-courses" class="collapse" aria-labelledby="courses-heading" data-parent="#cv-accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each this.personal.courses as |course|}}
                            <li class="list-group-item">
                                <h4><span class="font-weight-lighter">{{course.date}}</span> {{course.name}}</h4>
                                <h6 class="text-muted">{{course.from}}</h6>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>