<div class="container-fluid">
    <div class="row">
        <div class="my-home-picture">
            <h2>Vadims Zinatulins</h2>
        </div>
    </div>

    <div class="row justify-content-lg-center">
        {{!-- <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="/images/me/me_outside.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Who Am I</h4>
                    <p class="card-text" style="text-align: justify;">{{this.personal.resumedInfo}}</p>
                    <p class="text-center">{{#each this.personal.links as |link|}} <a href="{{link.link}}"><i
                                class="{{link.icon}}"></i></a>{{/each}}</p>
                </div>
            </div>
        </div> --}}
        <div class="col-lg-8">
            <p class="text-center">
            <h2>Welcome</h2>
            </p>
            <p style="text-align: justify;">
                Hi! Welcome to my Website. This is where I'll keep everything about me up to date as well as some
                tutorials where I can share my knowledge.
            </p>
            <p style="text-align: justify;">
                Most of these tutorials are in C++ or C++ oriented (written in C++ but can be implemented in other
                languages). Although I don't have many tutorials at this time I intend to add more in the future.
            </p>
            <p style="text-align: justify;">
                After writing my first tutorial I've gained even more respect for those who write great articles and
                books because of how hard it is. Finding the right words to make a sentence without strong assumptions
                is not that easy. When it comes to sensitive topics such as performance we cannot make statements that
                reflect <cite>"it is always true"</cite> because it might not. There are many factors that impact
                performance.
            </p>
            <h4>Favorite Books</h4>
            <p style="text-align: justify;">
                This is a list of my favorite books. I only include here books that I've already read
                <Popover @title="Venn diagram" @content={{this.vennDiagramContent}}>(not all books I've read)</Popover>.
            </p>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="background-color: rgba(0, 0, 0, 30%);">
                    {{#each this.books as |book index|}}
                        <li data-target="#carouselExampleIndicators" data-slide-to={{index}} class="{{if index "" "active"}}"></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each this.books as |book index|}}
                        <div class="carousel-item {{if index "" " active"}}">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="height: 450px;">
                                    <div class="media">
                                        <img src={{book.cover}} class="mr-3 img-thumbnail" alt="{{book.title}} - Cover" width="90px">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{book.title}} <small class="text-muted">by {{book.author}}</small></h5>
                                            <p style="text-align: justify;">{{book.htmlSafeDescription}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>